<div class="bg-image">
    <div class="bg-text">
        <h1 style="font-family: 'Times New Roman', Times, serif; font-size: 30px;"> Introduction</h1><br>
        <p style="font-family: 'Times New Roman', Times, serif; font-size: larger;"> Document Manager is 
            where you upload your documents provided you can edit your document details and delete the document if you dont want to keep it.
            It also allows you to download and be able to view the document. </p>
    </div>
</div>

<div class="steps"><h1 class="text-center " >How to upload your document</h1></div>

<div class="container mt-2 mb-5">
   
    <div class="row mt-5">
        <!--one-->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1> 
                <p>Enter the document details</p> 
            </div>
         </div>
         <!--two-->
         <div class="col-lg-4 mt-2">
             <div class="stepBox">
                <h1>2</h1> 
             <p>Create a folder</p>
             </div>   
          </div>
          <!--three-->
          <div class="col-lg-4 mt-2">
              <div class="stepBox"><h1>3</h1> 
                <p>Upload your document</p>
              </div>
            </div>
    </div> 
</div>



<div id="create" class="container mt-5 mb-5 " style="font-family: 'Times New Roman', Times, serif;">
    
    <form class="col-lg-6">
        <div class="col-lg-12 mt-2 mb-2">
            <button class="btn btn-md btn-dark" [routerLink]="['/create']" >New</button>
        </div>
    </form>
</div>

